<!DOCTYPE html>
<html>
<head>
  <title>home</title>
</head>
<body>
  <app-commonlayout></app-commonlayout>
  <div class="container">
    <img src="https://i.scdn.co/image/ab678e040000ed3aed58911aecc6dbc16949f40b" alt="Alternate Text" />

    <div class="align">
      <h1>
        Play Millions of Your Favourite Songs
      </h1>
      <br />
      <h1>For Free Only On NavMusic</h1>

      <button routerLink="/register" class="nav-link" href="#">NavMusic trial</button>

    </div>
  </div>

  <div class="why">
    <h1>
      why NavMusic ?
    </h1>
  </div>


  <div class="container2">
    <div class="box">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOCI4YTGPGbN3vnPzV0qkMRBzM9n4dcSKuIeeQWc0hw9uApQOqPUeXXdmZ4-NUbJ4aLkI&usqp=CAU" alt="Alternate Text" />
      <h2>Play your favorites.</h2>
      <p>
        Listen to the songs you love,
        <br />and discover new music
        <br />and podcasts.
      </p>
    </div>

    <div class="box">
      <img src="https://t0.gstatic.com/images?q=tbn:ANd9GcTIfQo1eCI1f-JRXz0dKlTyAThu20b6nbz_VDsOJoUaq16JhNgb" alt="Alternate Text" />
      <h2>Playlists made easy.</h2>
      <p>
        We'll help you make playlists.
        <br />Or enjoy playlists made by
        <br />music experts.
      </p>
    </div>

    <div class="box">
      <img src="https://png.pngtree.com/png-vector/20190328/ourlarge/pngtree-vector-lightning-button-icon-png-image_884053.jpg" alt="Alternate Text" />
      <h2>Make it yours.</h2>
      <p>
        Tell us what you like, and we'll
        <br />recommend music for you.
      </p>
    </div>

    <div class="box">
      <img src="https://ak.picdn.net/shutterstock/videos/1065965038/thumb/1.jpg" alt="Alternate Text" />
      <h2>Save mobile data.</h2>
      <p>
        To use less data when you play music,
        turn on Data Saver in
        <br />Settings.
      </p>
    </div>

  </div>


  <div class="container3">
    
    <div class="aligncred">
      <h1>
        It's Free
        <br />
        No Credit Card required
      </h1>
    </div>

  </div>

</body>
</html>
